/*
|--------------------------------------------------------------------------
| Fonts
|--------------------------------------------------------------------------
*/
@font-face {
  font-family: "IRANSansWeb";
  src: url("../fonts/IRANSans/IRANSansWeb.woff") format("woff");
}

@font-face {
  font-family: "IRANSansWeb";
  src: url("../fonts/IRANSans/IRANSansWeb_Bold.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "IRANSansWeb";
  src: url("../fonts/IRANSans/IRANSansWeb_Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "IRANSansWeb";
  src: url("../fonts/IRANSans/IRANSansWeb_Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "IRANSansWeb";
  src: url("../fonts/IRANSans/IRANSansWeb_UltraLight.woff") format("woff");
  font-weight: 100;
}

/*
|--------------------------------------------------------------------------
| General Styles
|--------------------------------------------------------------------------
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  background-color: #f7f7f7;
  font-family: "IRANSansWeb";
}

a {
  color: #222;
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

i {
  margin: 0 7px;
}

/*
|--------------------------------------------------------------------------
| Container
|--------------------------------------------------------------------------
*/
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (min-width: 576px) {
  .container {
    padding: 0 15px !important;
    max-width: 540px !important;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 720px !important;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    max-width: 960px !important;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px !important;
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1320px !important;
  }
}

@media only screen and (min-width: 1500px) {
  .container {
    max-width: 1440px !important;
  }
}

/*
|--------------------------------------------------------------------------
| Splide
|--------------------------------------------------------------------------
*/
.splide {
  height: auto;
  margin: auto;
}

.splide__slide img {
  max-height: 100%;
  width: auto;
}

/*
|--------------------------------------------------------------------------
| Header Section
|--------------------------------------------------------------------------
*/
header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #efefef;
}

.header-content {
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: space-between;
  /* direction: rtl; */
}

.header-main-content {
  display: flex;
  align-items: center;
}

.title {
  display: inline-block;
  font-family: "IRANSansWeb";
  font-weight: bold;
  padding: 0 50px 0 0;
}

.search {
  display: inline-block;
  width: 450px;
  height: 35px;
  border-radius: 5px;
  background-color: #e5e4e2;
  font-family: "IRANSansWeb";
  font-size: 1rem;
  padding: 0 40px 0 0;
  margin-right: 110px;
}

.search-container {
  position: relative;

  & i {
    position: absolute;
    font-size: 18px;
    right: 115px;
    top: 8px;
    color: #666;
  }
}

.icon-container {
  display: flex;
  align-items: center;
}

.dropbtn {
  background-color: transparent;
  color: rgb(5, 5, 5);
  font-size: 25px;
  border: none;
  cursor: pointer;
  padding: 5px;
  margin: 10px;
}

.ddbtn:hover,
.ddbtn:focus {
  color: #4683c0;
}

.click-dropdown,
.hover-dropdown {
  position: relative;
  display: inline-block;
  justify-content: flex-end;
}

.click-dropdown-content,
.hover-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.click-dropdown-content a,
.hover-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.click-dropdown-content a:hover,
.hover-dropdown-content a:hover {
  background-color: #ddd;
}

.click-show {
  display: block;
}

.hover-dropdown:hover .hover-dropdown-content {
  display: block;
}

.border-right {
  display: flex;
  border-right: #666 solid 1px;
  height: 20px;
  align-items: center;
}

.header-icon {
  color: #222;
}

.sub-header {
  background-color: white;
  width: 100%;
  height: 40px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  display: flex;
}

.sub-header ul {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.sub-header ul li a {
  color: #222;
  height: 100%;
  display: flex;
  align-items: center;
}

.sub-header ul li {
  height: 100%;
  display: flex;
  align-items: center;
}

.sub-header-option {
  border-bottom: 2px solid transparent;

  &:hover {
    border-bottom: 2px solid #2b76e9;
  }
}

/*
|--------------------------------------------------------------------------
| Mega Menu
|--------------------------------------------------------------------------
*/

.mega-menu-header {
  display: flex;
  align-items: center;
  margin-left: 20px;
  padding-left: 20px;
  border-left: #222 solid 1px;
  position: relative;
}

.menubar-container {
  display: flex;
  align-items: center;
}

.mega-menu-dropdown:hover .mega-menu-container {
  display: block;
}

.mega-menu-dropdown {
  height: 100%;
  display: flex;
  align-items: center;
}

.mega-menu-container {
  display: none;
  z-index: 9999;
  position: absolute;
  width: 200px;
  top: 33px;
}

.mega-menu>ul {
  background-color: #e9e9e9;
  display: block;
}

.mega-menu>ul>li>a {
  padding: 5px;
  color: #333;
  text-decoration: none;
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid #ccc;
}

.mega-menu-titles {

  &:hover {
    color: #2b76e9;
    background-color: rgb(248, 250, 253);
  }
}



.mega-menu>ul>li:last-child>a {
  border-bottom: 0;
}

.mega-menu>ul>li .mega-submenu {
  display: flex;
  width: 0;
  visibility: hidden;
  position: absolute;
  transition: width 0.3s;
}

.mega-menu-dropdown:hover .mega-menu>ul>li:first-child .mega-submenu {
  top: 0;
  right: 200px;
  z-index: 99;
  padding: 20px 30px;
  background-color: rgb(248, 250, 253);
  color: rgb(0, 0, 0);
  overflow: auto;
  visibility: visible;
  width: 850px;
  height: 500px;
  border-radius: 0 0 0 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  display: block;
  transition: none;
}

.mega-menu>ul>li:hover .mega-submenu {
  top: 0;
  right: 200px;
  z-index: 99;
  padding: 20px 30px;
  background-color: rgb(248, 250, 253);
  color: rgb(0, 0, 0);
  overflow: auto;
  visibility: visible;
  width: 850px;
  height: 500px;
  border-radius: 0 0 0 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  display: block;
  transition: none;
}

.mega-submenu-columns {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.mega-submenu-column {
  width: 33.33%;
  margin-bottom: 15px;
}

.mega-submenu-column ul {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.mega-submenu-column h4 {
  border-right: 2px solid #2b76e9;
  padding-right: 10px;
}

.mega-submenu-column a {
  color: #6c757d !important;
  font-size: 14px;
  padding-right: 15px;
}

/*
|--------------------------------------------------------------------------
| Slide Show Section
|--------------------------------------------------------------------------
*/

.slider-images-container {
  display: flex;
  width: 100%;
  gap: 10px;
  margin-top: 25px;
  height: 500px;
}

.slider-right-side {
  width: 65%;
  height: 100%;
}

.slider-left-side {
  width: 35%;
  height: 100%;
}

.slider-right-side img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.slider-left-side img {
  border-radius: 5px;
  max-width: 100%;
  height: 222px;
}

/*
|--------------------------------------------------------------------------
| Products Slide Show Section
|--------------------------------------------------------------------------
*/
.products-slider-container {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  margin: 20px 0;
  background-color: white;
  padding-top: 1px;
}

.products-slider-header {
  display: flex;
  justify-content: space-between;
  width: 97%;
  align-items: center;
  border-bottom: #efefef solid 1px;
  margin: 4px auto;
  margin-bottom: 0;
}

.products-slider-header h3 {
  border-bottom: #e73030 solid 2px;
  padding: 5px 15px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.products-slider-header a {
  padding: 5px 15px;
  color: #666666;
}

.products-slider-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  transition: all 0.2s;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  }
}

.products-slider-item-image img {
  height: 200px;
  width: auto;
  padding: 7px;
}

.products-slider-item-title {
  margin-top: 18px;
}

.products-slider-item-price {
  margin-top: 10px;
  margin-bottom: 26px;
}

/*
|--------------------------------------------------------------------------
| Products Slide Show Section
|--------------------------------------------------------------------------
*/
.banner {
  display: flex;
  margin-bottom: 40px 0;
  gap: 18px;
}

.banner-image img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

/*
|--------------------------------------------------------------------------
| Single Banner Section
|--------------------------------------------------------------------------
*/
.single-banner {
  margin: 18px 0;
}

.single-banner img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

/*
|--------------------------------------------------------------------------
| Brands Section
|--------------------------------------------------------------------------
*/
.brand-section {
  background-color: white;
  margin-bottom: 30px;
}

.brand-slider-container {
  height: auto;
  margin: 20px 0;
  background-color: white;
  padding-top: 1px;
}

.brand-slider-header {
  display: flex;
  justify-content: space-between;
  width: 97%;
  align-items: center;
  border-bottom: #efefef solid 1px;
  margin: 4px auto;
  margin-bottom: 0;
  height: 40px;
}

.brand-slider-header h3 {
  border-bottom: #e73030 solid 2px;
  padding: 5px 15px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.brand-slider-content {
  height: auto;
}

.brand-slider-item {
  height: 100%;
  padding: 20px 35px;
}

.brand-slider-item img {
  height: 130px;
  width: 130px;
  padding: 7px;
}

/*
|--------------------------------------------------------------------------
| Footer Section
|--------------------------------------------------------------------------
*/
footer {
  border-top: 1px solid #dedede;
}

.footer-shop-features {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 12px;
  margin: 40px 0;
  border-bottom: 1px solid #dedede;
}

.footer-shop-features-items {
  display: block;
  text-align: center;
  margin-bottom: 30px;
}

.footer-shop-features-items img {
  height: 70px;
}

.footer-links-container {
  display: flex;
}

.footer-links-col-20 {
  width: 20%;

  & a {
    color: #6c757d;
  }
}

.footer-links-col-40 {
  width: 40%;

  & a {
    color: #6c757d;
  }
}

.footer-links-col-40 ul {
  display: flex;
  margin: 20px 0;
}

.footer-links-col-40 li {
  margin-left: 50px;
}

.about-company {
  margin: 60px 0;

  & p {
    color: #6c757d;
  }
}

.copyright {
  border-top: 1px solid #dedede;
  color: #6c757d;
}

.copyright p {
  text-align: center;
  margin: 20px 0;
}