@font-face {
  font-family: "IRANSansWeb";
  src: url("../fonts/IRANSans/IRANSansWeb.woff") format("woff");
}

@font-face {
  font-family: "IRANSansWeb";
  src: url("../fonts/IRANSans/IRANSansWeb_Bold.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "IRANSansWeb";
  src: url("../fonts/IRANSans/IRANSansWeb_Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "IRANSansWeb";
  src: url("../fonts/IRANSans/IRANSansWeb_Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "IRANSansWeb";
  src: url("../fonts/IRANSans/IRANSansWeb_UltraLight.woff") format("woff");
  font-weight: 100;
}